<launch>
<!-- Load ants's description, controllers, and teleop nodes. -->
  <include file="$(find vo_description)/launch/description.launch"/>

<!-- Spawn ants -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model ants -param robot_description -x 0 -y 0 -z 0" />
</launch>
